<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#" [routerLink]= "['/inicio']">INICIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">

        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1º AÑO
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Álgebra</a>
            <a class="text-white mx-4" href="#">Discreta</a>
            <a class="text-white mx-4" href="#">Análisis 1</a>
            <a class="text-white mx-4" href="#">Física 1</a>
            <a class="text-white mx-4" href="#">Algoritmos</a>
            <a class="text-white mx-4" href="#">Sis. y Org.</a>
          </div>

        </li>

        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            2º AÑO
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Teoría</a>
            <a class="text-white mx-4" href="#">Práctica</a>
            <a class="text-white mx-4" href="#">Parciales</a>
            <a class="text-white mx-4" href="#">Finales</a>
            <a class="text-white mx-4" href="#">Consultas</a>
          </div>

        </li>



        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            3º AÑO
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Teoría</a>
            <a class="text-white mx-4" href="#">Práctica</a>
            <a class="text-white mx-4" href="#">Parciales</a>
            <a class="text-white mx-4" href="#">Finales</a>
            <a class="text-white mx-4" href="#">Consultas</a>
          </div>

        </li>

        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            4º AÑO
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Teoría</a>
            <a class="text-white mx-4" href="#">Práctica</a>
            <a class="text-white mx-4" href="#">Parciales</a>
            <a class="text-white mx-4" href="#">Finales</a>
            <a class="text-white mx-4" href="#">Consultas</a>
          </div>

        </li>

        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            5º AÑO
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Teoría</a>
            <a class="text-white mx-4" href="#">Práctica</a>
            <a class="text-white mx-4" href="#">Parciales</a>
            <a class="text-white mx-4" href="#">Finales</a>
            <a class="text-white mx-4" href="#">Consultas</a>
          </div>

        </li>

        <li class="nav-item dropdown active mx-3">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CONTACTANOS
          </a>

          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="text-white mx-4"  href="#">Enviar Apuntes</a>
            <a class="text-white mx-4" href="#">Feedback</a>
          </div>

        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]= "['/nosotros']">NOSOTROS<span class="sr-only">(current)</span></a>
        </li>


      </ul>

    </div>
  </nav>
